wlxml.xsd

<?xml version='1.0' encoding='utf-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
	xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'>

	<xs:import namespace='http://www.w3.org/1999/02/22-rdf-syntax-ns#'
		schemaLocation='dcmes-rdf.xsd'/>

	<!-- main structure -->
	<xs:element name='utwor'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='rdf:RDF'/>
				<xs:choice>
					<xs:element name='opowiadanie' type='book' />
					<xs:element name='powiesc' type='book' />
					<xs:element name='dramat_wierszowany_l' type='drama' />
					<xs:element name='dramat_wierszowany_lp' type='drama' />
					<xs:element name='dramat_wspolczesny' type='drama' />
					<xs:element name='liryka_l' type='poem' />
					<xs:element name='liryka_lp' type='poem' />
					<xs:element name='wywiad' type='book' />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- those can happen anywhere -->
	<xs:element name='uwaga' type='xs:string'/>

	<!-- inline elements -->
	<xs:element name='any-inline' abstract='true' type='inline'/>
	<xs:element name='tytul_dziela' substitutionGroup='any-inline'/>
	<xs:element name='wyroznienie' substitutionGroup='any-inline'/>
	<xs:element name='slowo_obce' substitutionGroup='any-inline'/>
	<xs:element name='mat' substitutionGroup='any-inline'/>
	<xs:element name='wyp_osoba' substitutionGroup='any-inline'/>
	<xs:element name='www' substitutionGroup='any-inline'/>

	<!-- footnotes -->
	<xs:element name='pa' substitutionGroup='any-inline'/>
	<xs:element name='pt' substitutionGroup='any-inline'/>
	<xs:element name='pr' substitutionGroup='any-inline'/>
	<xs:element name='pe' substitutionGroup='any-inline'/>

	<!-- motifs (<begin/><motyw/>...<end/>) -->
	<xs:element name='motyw'>
		<xs:complexType mixed='true'>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:element ref='any-inline' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
			<xs:attribute name='id' type='xs:string' use='required'/>
		</xs:complexType>
	</xs:element>
	<xs:element name='begin' substitutionGroup='motyw'/>
	<xs:element name='end' substitutionGroup='motyw'/>

	<!-- complete type for inline data -->
	<xs:complexType name='inline' mixed='true'>
		<xs:sequence minOccurs='1' maxOccurs='unbounded'>
			<xs:element ref='any-inline' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='motyw' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:complexType>

	<!-- metadata (at beginning or end) -->
	<xs:element name='any-meta' abstract='true' type='inline'/>
	<xs:element name='autor_utworu' substitutionGroup='any-meta'/>
	<xs:element name='nazwa_utworu' substitutionGroup='any-meta'/>
	<xs:element name='dzielo_nadrzedne' substitutionGroup='any-meta'/>
	<xs:element name='podtytul' substitutionGroup='any-meta'/>

	<!-- paragraphs -->
	<xs:element name='akap' type='inline'/>
	<xs:element name='akap_cd' substitutionGroup='akap'/>
	<xs:element name='akap_dialog' substitutionGroup='akap'/>

	<!-- poems -->
	<xs:element name='verse' abstract='true'>
		<xs:complexType mixed='true'>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:element ref='any-inline' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='motyw' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>

			<xs:attribute name='typ' type='xs:integer' use='optional'/>
		</xs:complexType>
	</xs:element>
	<xs:element name='wers_akap' substitutionGroup='verse'/>
	<xs:element name='wers_wciety' substitutionGroup='verse'/>
	<xs:element name='wers_cd' substitutionGroup='verse'/>

	<xs:element name='strofa'>
		<xs:complexType mixed='true'>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:element ref='any-inline' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='verse' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='motyw' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='zastepnik_wersu' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- notes -->
	<xs:element name='nota'>
		<xs:complexType>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:choice>
					<xs:element ref='akap' minOccurs='0' maxOccurs='unbounded'/>
					<xs:element ref='strofa' minOccurs='0' maxOccurs='unbounded'/>
				</xs:choice>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='nota_red' substitutionGroup='nota'/>
	<xs:element name='dedykacja' substitutionGroup='nota'/>

	<!-- quotations -->
	<xs:element name='dlugi_cytat'>
		<xs:complexType>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:element ref='akap' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='poezja_cyt'>
		<xs:complexType>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:element ref='strofa' minOccurs='0' maxOccurs='unbounded'/>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- motto -->
	<xs:group name='motto'>
		<xs:sequence>
			<xs:element name='motto'>
				<xs:complexType>
					<xs:sequence minOccurs='1' maxOccurs='unbounded'>
						<xs:element ref='akap' minOccurs='0' maxOccurs='unbounded'/>
						<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name='motto_podpis' maxOccurs='1' type='inline'/>
		</xs:sequence>
	</xs:group>

	<!-- separators -->
	<xs:element name='sep' abstract='true'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='sekcja_swiatlo' substitutionGroup='sep'/>
	<xs:element name='sekcja_asterysk' substitutionGroup='sep'/>
	<xs:element name='separator_linia' substitutionGroup='sep'/>

	<xs:element name='zastepnik_wersu'>
		<!-- this one's only for poems -->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- headers & body -->
	<xs:element name='header' abstract='true' type='inline'/>
	<xs:element name='naglowek_czesc' substitutionGroup='header'/>
	<xs:element name='naglowek_rozdzial' substitutionGroup='header'/>
	<xs:element name='naglowek_podrozdzial' substitutionGroup='header'/>
	<xs:element name='srodtytul' substitutionGroup='header'/>

	<xs:group name='book-body'>
		<xs:sequence>
			<xs:element ref='header' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='akap' minOccurs='1' maxOccurs='unbounded'/>
			<xs:element ref='dlugi_cytat' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='poezja_cyt' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='sep' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:group>

	<xs:group name='poem-body'>
		<xs:sequence>
			<xs:element ref='header' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='strofa' minOccurs='1' maxOccurs='unbounded'/>
			<xs:element ref='dlugi_cytat' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='poezja_cyt' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='sep' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:group>

	<!-- drama -->
	<xs:element name='lista_osob'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='naglowek_listy' type='inline'
					minOccurs='0' maxOccurs='1'/>
				<xs:element name='lista_osoba'
					minOccurs='1' maxOccurs='unbounded'>
					<xs:complexType mixed='true'>
						<xs:sequence minOccurs='1' maxOccurs='unbounded'>
							<xs:element ref='any-inline' minOccurs='0' maxOccurs='unbounded'/>
							<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
						</xs:sequence>

						<xs:attribute name='typ' type='xs:string' use='optional'/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='miejsce_czas' type='inline'/>

	<xs:element name='drama-header' abstract='true' type='inline'/>
	<xs:element name='naglowek_akt' substitutionGroup='drama-header'/>
	<xs:element name='naglowek_scena' substitutionGroup='drama-header'/>

	<xs:element name='didaskalia' type='inline'/>

	<xs:group name='drama-body'>
		<xs:sequence>
			<xs:element ref='drama-header' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='sep' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='didaskalia' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element name='naglowek_osoba' type='inline'/>
			<xs:element ref='didaskalia' minOccurs='0' maxOccurs='unbounded'/>
			<xs:sequence minOccurs='1' maxOccurs='unbounded'>
				<xs:element name='kwestia'>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref='didaskalia' minOccurs='0' maxOccurs='unbounded'/>
							<xs:sequence minOccurs='1' maxOccurs='unbounded'>
								<xs:choice>
									<xs:element ref='strofa' minOccurs='1' maxOccurs='unbounded'/>
									<xs:element ref='akap' minOccurs='1' maxOccurs='unbounded'/>
								</xs:choice>
								<xs:element ref='didaskalia' minOccurs='0' maxOccurs='unbounded'/>
							</xs:sequence>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref='didaskalia' minOccurs='0' maxOccurs='unbounded'/>
			</xs:sequence>
		</xs:sequence>
	</xs:group>

	<!-- main book contents -->
	<xs:group name='headings'>
		<xs:sequence>
			<xs:element ref='any-meta' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='nota' minOccurs='0' maxOccurs='unbounded'/>
			<xs:group ref='motto' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:group>
	<xs:group name='footers'>
		<xs:sequence>
			<xs:group ref='motto' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='nota' minOccurs='0' maxOccurs='unbounded'/>
			<xs:element ref='uwaga' minOccurs='0' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name='book'>
		<xs:sequence>
			<xs:group ref='headings' minOccurs='1' maxOccurs='unbounded'/>
			<xs:group ref='book-body' maxOccurs='unbounded'/>
			<xs:group ref='footers' minOccurs='1' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name='poem'>
		<xs:sequence>
			<xs:group ref='headings' minOccurs='1' maxOccurs='unbounded'/>
			<xs:group ref='poem-body' maxOccurs='unbounded'/>
			<xs:group ref='footers' minOccurs='1' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name='drama'>
		<xs:sequence>
			<xs:group ref='headings' minOccurs='1' maxOccurs='unbounded'/>
			<xs:element ref='lista_osob' minOccurs='0' maxOccurs='1'/>
			<xs:element ref='miejsce_czas' minOccurs='0' maxOccurs='1'/>
			<xs:group ref='drama-body' maxOccurs='unbounded'/>
			<xs:group ref='footers' minOccurs='1' maxOccurs='unbounded'/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
